{% extends 'alphatech/base.html' %}

{% block title %}Author{% endblock %}

{% block content %}
<!-- Author -->
{% load static %}
<div class="container-fluid">
        <div class="row author-page">
            <div class="col-3"></div>
            <div class="col-6 content-author-field">
                <img class="author-img" src="../../static/img/author.jpg">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <br />
                            <h4>Garry Ariel</h4>
                            <br />
                            <p>
                                Hello everyone. My name is Garry Ariel. I am a math enthusiast. I enjoy coding and solving math problems :D
                            </p>
                            <br/>
                            <p>Address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Malang</p>
                            <p>Telephone&nbsp;&nbsp;&nbsp;: 089514845202</p>
                            <p>Education&nbsp;&nbsp;&nbsp;&nbsp;: Bachelor of Science</p>
                            <p>Profession&nbsp;&nbsp;&nbsp;: Software Engineer</p>
                            <p>Nationality&nbsp;&nbsp;: Indonesia</p>
                            <p>Company&nbsp;&nbsp;&nbsp;&nbsp;: Alterra</p>
                            <p>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: garry@alterra.id</p>
                            <br />
                            <iframe class="gmaps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3951.314233480313!2d112.60827644979209!3d-7.966441481577961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7882865ded0697%3A0xa77fa961a7c4e4b7!2sSepulsa%20Lodge%20Malang!5e0!3m2!1sen!2sid!4v1575972119793!5m2!1sen!2sid" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
{% endblock %}