<footer>
    <div class="container-fluid">
        <div class="footer row">
            <div class="col-12 our-product">Our product:
                {% load static %}
                <img src="{% static 'img/logo-grey-alphapay.png' %}">
                <img src="{% static 'img/logo-grey-sepulsa.png' %}">
                <img src="{% static 'img/logo-grey-alphabill.png' %}">
            </div>
            <div class="col-12 contact-person">
            Contact Person: Mobile phone: 0877 9609 9530. Email: academy@alphatech.id        
            </div>
        </div>
    </div>
</footer>