{% extends 'alphatech/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Top Part -->
<div class="container-fluid">
        <div class="row">
            <div class="col-5 top-left-home">
                <img class="image-home" src="../../static/img/benefit.png">
                <img class="image-home" src="../../static/img/search-job.png">
                <img class="image-home" src="../../static/img/get-paid.png">
            </div>
            <div class="col-7 top-right-home">
                <div class="col-12 benefit-article">
                <span>Learn awesome tech</span>
                <br />You will learn about programming language, such as Python and JavaScript, build
                back-end apps using Flask framework with microservice concept, build client-side
                apps using React Library, etc
                </div>
                <div class="col-12 benefit-article">
                <span>Land new job</span>
                <br />If you can pass this awesome program, you will be part of our reliable tech team for 
                especially Software Engineer position and other tech position such as, Quality Enginner,
                System Analyst, etc
                </div>
                <div class="col-12 benefit-article">
                <span>Get paid to learn</span>
                <br />Join for free and earn some money. Yes, you read that right, no registration fee
                required to enter this program. To make things even better, you will receive pocket money
                just for participating. Cool, right?
                </div>
            </div>
        </div>
    </div>

<!-- Bottom Part -->
    <div class="bottom-home container-fluid">
        <div class="row">
            <div class="col-5 bottom-left-home">
                <img class="mission-home" src="../../static/img/mission.png">
            </div>
            <div class="col-7 bottom-right-home">
                <div class="container-fluid">
                    <div class="row">
                        <div class="our-mission col-12">
                            <h4>Who are we?</h4>
                            Alpha Tech Academy is a tech talent incubator that gives everyone (even 
                            non IT background) a chance to be a professional tech talent within 3 
                            months. What is our mission? We want to improve capability Tech Talent in Indonesia.
                        </div>
                        <div class="our-mission col-12">
                            <h4>What is our mission?</h4>
                            We want to improve capability Tech Talent in Indonesia.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- What WIll You Learn -->
    <div class="container-fluid">
        <div class="row learn">
            <div class="col-12 will-learn"><h4>What will you learn?</h4></div>
            <div class="col-2"></div>
            <div class="col-2 img-learn"><img src="../../static/img/learn-html.png"></div>
            <div class="col-2 img-learn"><img src="../../static/img/learn-programming.png"></div>
            <div class="col-2 img-learn"><img src="../../static/img/learn-git.png"></div>
            <div class="col-2 img-learn"><img src="../../static/img/learn-api.png"></div>
            <div class="col-1"></div>
            <div class="col-2"></div>
            <div class="col-2 img-learn"><img src="../../static/img/learn-react.png"></div>
            <div class="col-2 img-learn"><img src="../../static/img/learn-tdd.png"></div>
            <div class="col-2 img-learn"><img src="../../static/img/learn-server.png"></div>
            <div class="col-2 img-learn"><img src="../../static/img/learn-scrum.png"></div>
            <div class="col-1"></div>
        </div>
    </div>
{% endblock  %}