<header>
    <div class="container-fluid">
        <div class="row header">
            <div class="col-3">Alpha Tech Academy</div>
            <div class="col-3"></div>
            <div class="col-6">
                <nav>
                    <ul>
                        <li><a href="{% url 'alphatech:index' %}" class="home-tab {% if message == '1' %}active-page{% endif %}">Home</a></li>
                        <li><a href="{% url 'alphatech:blog' %}" class="blog-tab {% if message == '2' %}active-page{% endif %}">Blog</a></li>
                        <li><a href="{% url 'alphatech:mentor' %}" class="mentor-tab {% if message == '3' %}active-page{% endif %}">Mentor</a></li>
                        <li><a href="{% url 'alphatech:mentee' %}" class="mentee-tab {% if message == '4' %}active-page{% endif %}">Mentee</a></li>
                        <li><a href="{% url 'alphatech:author' %}" class="author-tab {% if message == '5' %}active-page{% endif %}">Author</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="description container-fluid">
    <div class="row">
        <div class="col-12 alpha-logo">
            <img src="../../static/img/alpha-logo.png"> 
        </div>
        <div class="col-12 big_title">Alpha Tech Academy</div>
        <div class="col-12 description-div">
            Alpha Tech Academy is a tech talent incubator that gives everyone (even 
            <br />non IT background) a chance to be a professional tech talent within 3 
            <br />months. Contact Person: Email: academy@alphatech.id Mobile phone: 
            <br />0877 9609 9530
        </div>
    </div>
</div>